fastapi
uvicorn[standard]
python-multipart
python-dotenv
aiofiles
sqlalchemy<2.0
alembic
psycopg2-binary
databases
databases[aiosqlite]
databases[asyncpg]
boto3[crt]

python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
pytest
pytest-asyncio
httpx