fastapi
uvicorn[standard]
python-multipart
python-dotenv
aiofiles
sqlalchemy<2.0
alembic
psycopg2-binary
databases
databases[aiosqlite]
databases[asyncpg]
boto3[crt]

python-jose[cryptography]
passlib[bcrypt]
pytest
pytest-asyncio
httpx